singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  output_prefix        = 'mpcr-180926'
  mapped_bams_path     = "/zstor/pcg/2017-rhino/paragon-180926/bcftools-mapping-pipeline/bams"
  regex_fastq_ID       = /^RHR([0-9]+)_.*$/ // regular expression to extract fastqID from fastq-file name. First saved match will be the sample ID
  bam_files_path       = null // If not null, then these bams will be used instead of mapping from fastqs
  sample_name_file     = null // optional tab separated file mapping fastq file names to sample name (fastID\tsampleID) The sampleID will be added as a readgroup instead of the fileID.
  reference            = '/zstor/pcg/2017-rhino/reference/black_rhino_dovetail.fasta'
  reference_batch_bed  = ''
  publish_directory    = "./outputs"
  regions_file         = "/zstor/pcg/2017-rhino/reference/black_rhino_dovetail.fasta.regions.txt"
  mapping_targets      = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.amplicon.bed'
  snp_locations_tab    = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.coveredSNPs.tab'
}


