singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  output_prefix        = 'mpcr-180926'
  mapped_bams_path     = "/zstor/pcg/2017-rhino/paragon-180926/bcftools-mapping-pipeline/bams"
  reference            = '/zstor/pcg/2017-rhino/reference/black_rhino_dovetail.fasta'
  reference_batch_bed  = ''
  publish_directory    = "./outputs"
  regions_file         = "/zstor/pcg/2017-rhino/reference/black_rhino_dovetail.fasta.regions.txt"
  mapping_targets      = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.amplicon.bed'
  snp_locations_tab    = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.coveredSNPs.tab'
}


