singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  output_prefix        = 'paragon-180926'
  publish_directory    = "outputs"
  bam_files_path       = "/zstor/pcg/2017-rhino/paragon-181105/bcftools-mapping-targets-pipeline/outputs/bams"
  mapping_targets_bed  = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.amplicon.bed'
}


