singularity.enabled = true

process {
  executor = 'slurm'
  container = '/zstor/containers/singularity/mapping.img'
  queue = 'normal,control'
}

executor {
    name = 'slurm'
    queueSize = 100
}

params {
  output_prefix        = 'mpcr-181105'
  fastq_files_path     = "/zstor/pcg/2017-rhino/paragon-181105/fastq-data/*R{1,2}_001.fastq.gz"
  trim_fastq_files     = true // if fastq files are already trimmed then set this to false
  regex_fastq_ID       = /^18032FL-29-01-[0-9]+_(S[0-9]+)_.*$/ // regular expression to extract fastqID from fastq-file name. First saved match will be the sample ID
  bam_files_path       = null // If not null, then these bams will be used instead of mapping from fastqs
  sample_name_file     = "sample-rhino-map.tsv" // optional tab separated file mapping fastq file names to sample name (fastID\tsampleID) The sampleID will be added as a readgroup instead of the fileID.
  reference            = '/zstor/pcg/2017-rhino/reference/black_rhino_dovetail.fasta'
  reference_batch_bed  = ''
  publish_directory    = "./outputs"
  known_sites          = '/zstor/pcg/2017-rhino/fb-170814-snp-q30-gq30-ma2-hwe-mac3.vcf.gz'
  snp_locations_tab    = '/zstor/pcg/2017-rhino/paragon-pools/PGD191.coveredSNPs.tab'
}

